<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Some issues with your info, please fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |user| %>
        <li><%= user %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<div class='signup-form'>
    <form class ="form-signin" method="post" action="/users/new">
      <h1 class="form-signin-heading">Sign Up</h1>
      <!-- <div class="col-sm-10"> -->
         <label class="form-signin-heading text-muted">Username:</label>
         <input class="form-control" type="text" name="username" value="<%= @user.username %>" placeholder="Username"  required="" autofocus="">
      <!-- </div> -->
      <!-- <div class="col-sm-10"> -->
         <label class="form-signin-heading text-muted">Email:</label>
         <input class="form-control" type="text" name="email" value="<%= @user.email %>" placeholder="Email" required="">
      <!-- </div> -->
      <!-- <div class="col-sm-10"> -->
         <label class="form-signin-heading text-muted">Password:</label>
         <input class="form-control" type="password" name="password" value="<%= @user.password %>" placeholder="Password" required="">
      <!-- </div> -->
      <!-- <div class="col-sm-10"> -->
         <label class="form-signin-heading text-muted">Confirm Password:</label>
         <input class="form-control" type="password" name="password_confirmation" value="<%= @user.password_confirmation %>" placeholder="Confirm Password" required="">
      <!-- </div> -->
      <!-- <div class="form-group row"> -->
        <div class="input-group">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
        </div>
      <!-- </div> -->
    </form>
  </div>
